<!-- <div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/layout/images/logo-white.svg" alt="logo" />
    <span style="color: #fff">HTTT KNTC</span>
    <button
      #menubutton
      pButton
      pRipple
      icon="pi pi-bars"
      class="p-button-rounded p-button-info ml-6"
      (click)="layoutService.onMenuToggle()"
    ></button>
  </a>

  <p-menubar [model]="items" class="topmenu"> </p-menubar>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }"
  >
    <button
      *ngIf="isAutenticated"
      pButton
      pRipple
      type="button"
      [label]="userName"
      icon="pi pi-user"
      class="p-button-info"
      (click)="userMenu.toggle($event)"
    ></button>
  </div>
</div> -->

<p-menubar [model]="items" class="topmenu">
  <ng-template pTemplate="start">
    <div class="topmenu-logo">
      <a routerLink="">
        <!-- <img src="assets/layout/images/logo-white.svg" alt="logo" /> -->
        <span style="color: #fff">HTTT KNTC</span>
      </a>

      <button
        #menubutton
        pButton
        pRipple
        icon="pi pi-bars"
        class="p-button-rounded p-button-info ml-6"
        (click)="layoutService.onMenuToggle()"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <button
      *ngIf="isAutenticated"
      pButton
      pRipple
      type="button"
      [label]="userName"
      icon="pi pi-user"
      class="p-button-info"
      (click)="userMenu.toggle($event)"
    ></button>
  </ng-template>
</p-menubar>

<p-tieredMenu
  #userMenu
  [model]="userMenuItems"
  [popup]="true"
  [showTransitionOptions]="'300ms'"
  [hideTransitionOptions]="'300ms'"
></p-tieredMenu>
