<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img
      src="assets/layout/images/{{
        layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'
      }}.svg"
      alt="logo"
    />
    <span>HTTT KNTC</span>
  </a>
  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <p-menubar
    [model]="items"
    [class]="layoutService.config.colorScheme === 'light' ? 'topmenu-light' : ''"
  >
  </p-menubar>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }"
  >
    <button
      *ngIf="isAutenticated"
      pButton
      pRipple
      type="button"
      [label]="userName"
      icon="pi pi-user"
      class="p-button-rounded p-button-info"
      (click)="userMenu.toggle($event)"
    ></button>
  </div>
</div>

<p-tieredMenu
  #userMenu
  [model]="userMenuItems"
  [popup]="true"
  [showTransitionOptions]="'300ms'"
  [hideTransitionOptions]="'300ms'"
></p-tieredMenu>
