$gutter: 1rem; //for primeflex grid system
@import 'assets/layout/styles/layout/layout.scss';

/* PrimeNG */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.scss';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/leaflet/dist/leaflet.css';

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #3b82f6;
  border-color: red;
  color: #fff;
}
#inputPassword {
  width: 100% !important;
}
.search-width {
  width: 250px;
}
.action-column {
  width: 15%;
}
.p-dropdown-panel {
  width: 100%;
}

.topmenu-light {
  .p-menubar {
    background-color: var(--yellow-200);
  }
  .p-menubar .p-menuitem {
    background-color: var(--yellow-200);
  }
}
.p-menubar .p-menuitem {
  animation: itemAnimation 10s;
}

.p-menubar {
  border-radius: 0.5rem;
  height: 3rem;
}

@keyframes itemAnimation {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}
