$gutter: 1rem; //for primeflex grid system
@import 'assets/layout/styles/layout/layout.scss';

/* PrimeNG */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.scss';
@import '../node_modules/primeicons/primeicons.css';

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #3b82f6;
  border-color: red;
  color: #fff;
}
#inputPassword {
  width: 100% !important;
}
.search-width {
  width: 250px;
}
.action-column {
  width: 15%;
}
.p-dropdown-panel {
  width: 100%;
}

.topmenu {
  position: fixed;
  height: 5rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  // background-color: var(--surface-card);
  transition: left $transitionDuration;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);

  .topmenu-logo {
    display: flex;
    align-items: center;
    color: var(--surface-900);
    font-size: 1.5rem;
    font-weight: 500;
    width: 200px;
    border-radius: 12px;

    img {
      height: 2.5rem;
      margin-right: 0.5rem;
    }

    &:focus {
      @include focused();
    }
  }

  .p-menubar,
  .p-menu-list,
  .p-menuitem {
    background-color: #3b82f6;
    border: #3b82f6;
    z-index: 9970;
  }
  .p-menuitem {
    animation: itemAnimation 0.3s;
    z-index: 9970;
  }
  .p-menuitem-text,
  .p-menuitem-icon,
  .p-submenu-icon {
    color: #fff !important;
    font-size: 1.5rem;
  }
}

@keyframes itemAnimation {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
