<div class="animated fadeIn">
  <p-panel #pnl header="Quản lý người dùng">
    <p-toolbar>
      <ng-template pTemplate="left">
        <button
          *abpPermission="'AbpIdentity.Users.Create'"
          pButton
          pRipple
          [label]="Actions.CREATE"
          icon="pi pi-plus"
          class="p-button-success mr-1"
          [pTooltip]="Actions.CREATE"
          tooltipPosition="top"
          (click)="showAddModal()"
        ></button>
        <button
          *abpPermission="'AbpIdentity.Users.Delete'"
          pButton
          pRipple
          [label]="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          [pTooltip]="Actions.DELETE"
          tooltipPosition="top"
          (click)="deleteItems()"
          [disabled]="!selectedItems || !selectedItems.length"
        ></button>
      </ng-template>

      <ng-template pTemplate="right">
        <div class="p-inputgroup search-width">
          <input
            pInputText
            type="text"
            (keyup.enter)="loadData()"
            [(ngModel)]="keyword"
            placeholder="Họ tên, tài khoản"
          />
          <button
            pButton
            icon="pi pi-filter"
            class="p-button-info"
            [pTooltip]="Actions.ADVANCE_SEARCH"
            tooltipPosition="top"
            (click)="op.toggle($event)"
          ></button>
        </div>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="items"
      [rows]="10"
      [paginator]="false"
      [(selection)]="selectedItems"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Tài khoản</th>
          <th pSortableColumn="name">Họ tên</th>
          <th>Email</th>
          <th>Số ĐT</th>
          <th>Ngày tham gia</th>
          <th style="width: 150px">Trạng thái</th>
          <th *ngIf="visibleActionColumn" class="action-column"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{ row.userName }}</td>
          <td>{{ row.surname ? row.surname + ' ' + row.name : row.name }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.phoneNumber }}</td>
          <td>{{ row.creationTime | date : 'dd-MM-yyyy hh:mm' }}</td>
          <td>
            <p-tag
              [severity]="row.isActive ? 'info' : 'warning'"
              [value]="row.isActive ? 'Kích hoạt' : 'khóa'"
            >
            </p-tag>
          </td>
          <td *ngIf="visibleActionColumn">
            <p-tieredMenu
              [showTransitionOptions]="'200ms'"
              [hideTransitionOptions]="'200ms'"
              #menu
              [model]="actionMenu"
              [popup]="true"
              appendTo="body"
            ></p-tieredMenu>
            <button
              #btn
              pButton
              pRipple
              type="button"
              pButton
              icon="p-button-sm pi pi-fw pi-cog"
              [label]="Actions.ACTION"
              [pTooltip]="Actions.ACTION"
              tooltipPosition="top"
              (click)="menu.toggle($event); setActionItem(row)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p-paginator
          [rows]="maxResultCount"
          [totalRecords]="totalCount"
          [showCurrentPageReport]="true"
          [showJumpToPageInput]="true"
          (onPageChange)="pageChanged($event)"
          currentPageReportTemplate="{totalRecords} bản ghi, {currentPage} trang"
          [rowsPerPageOptions]="[10, 20, 50, 200]"
        ></p-paginator>
      </ng-template>
    </p-table>

    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner
        [style]="{ width: '200px', height: '200px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>

<p-overlayPanel #op>
  <p-card>
    <div class="search-width">
      <div class="field col-12">
        <span class="p-float-label">
          <input
            id="email"
            type="text"
            pInputText
            [(ngModel)]="emailSearch"
            class="w-full"
            (keyup.enter)="loadData()"
          />
          <label for="email">Email</label>
        </span>
      </div>
      <!-- ------------------------------------------------------------------------------------ -->
      <div class="field col-12">
        <span class="p-float-label">
          <input
            id="phoneNumber"
            type="text"
            pInputText
            [(ngModel)]="phoneNumberSearch"
            class="w-full"
            (keyup.enter)="loadData()"
          />
          <label for="phoneNumber">Số ĐT</label>
        </span>
      </div>
      <!-- --------------------------------------------------------------------------------- -->
      <div class="field col-12">
        <span class="p-float-label">
          <p-dropdown
            [options]="roleOptions"
            [(ngModel)]="roleIdSearch"
            optionLabel="name"
            [filter]="true"
            optionValue="id"
            filterBy="name"
            [showClear]="true"
            filterPlaceholder="Tên vai trò"
            [autoDisplayFirst]="false"
            styleClass="w-full"
          ></p-dropdown>
          <label for="phoneNumber">Vai trò</label>
        </span>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button
        *abpPermission="'AbpIdentity.Users.Create'"
        pButton
        pRipple
        [label]="Actions.SEARCH"
        icon="pi pi-search"
        class="p-button-info mr-1"
        [pTooltip]="Actions.SEARCH"
        tooltipPosition="top"
        (click)="loadData()"
      ></button>
    </ng-template>
  </p-card>
</p-overlayPanel>
