<div class="animated fadeIn">
  <p-panel #pnl header="Quản lý người dùng">
    <p-toolbar>
      <ng-template pTemplate="left">
        <button
        *abpPermission="'AbpIdentity.Users.Create'"
          pButton
          pRipple
          [label]="Actions.CREATE"
          icon="pi pi-plus"
          class="p-button-sm p-button-success mr-1"
          [pTooltip]="Actions.CREATE"
          tooltipPosition="top"
          (click)="showAddModal()"
        ></button>
        <button
        *abpPermission="'AbpIdentity.Users.Delete'"
          pButton
          pRipple
          [label]="Delete"
          icon="pi pi-trash"
          class="p-button-sm p-button-danger"
          [pTooltip]="Actions.DELETE"
          tooltipPosition="top"
          (click)="deleteItems()"
          [disabled]="!selectedItems || !selectedItems.length"
        ></button>
      </ng-template>

      <ng-template pTemplate="right">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (keyup.enter)="loadData()"
            [(ngModel)]="keyword"
            placeholder="Họ tên, tài khoản"
          />
        </span>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="items"
      [rows]="10"
      [paginator]="false"
      [(selection)]="selectedItems"
      [rowHover]="true"
      dataKey="id"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name">Họ tên</th>
          <th>Tài khoản</th>
          <th>Email</th>
          <th>Số ĐT</th>
          <th>Ngày tham gia</th>
          <th style="width: 150px">Trạng thái</th>
          <th *ngIf="visibleActionMenu"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{ row.surname ? row.surname + ' ' + row.name : row.name }}</td>
          <td>{{ row.userName }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.phoneNumber }}</td>
          <td>{{ row.creationTime | date : 'dd-MM-yyyy hh:mm' }}</td>
          <td>
            <p-tag
              [severity]="row.isActive ? 'info' : 'warning'"
              [value]="row.isActive ? 'Kích hoạt' : 'khóa'"
            >
            </p-tag>
          </td>
          <td *ngIf="visibleActionMenu">
            <p-tieredMenu
              [showTransitionOptions]="'200ms'"
              [hideTransitionOptions]="'200ms'"
              #menu
              [model]="actionMenu"
              [popup]="true"
              appendTo="body"
            ></p-tieredMenu>
            <button
              #btn
              pButton
              pRipple
              type="button"
              pButton
              icon="p-button-sm pi pi-fw pi-cog"
              label="Thao tác"
              (click)="menu.toggle($event); setActionItem(row)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <p-paginator
          [rows]="maxResultCount"
          [totalRecords]="totalCount"
          [showCurrentPageReport]="true"
          [showJumpToPageInput]="true"
          (onPageChange)="pageChanged($event)"
          currentPageReportTemplate="{totalRecords} bản ghi, {currentPage} trang"
          [rowsPerPageOptions]="[10, 20, 50, 200]"
        ></p-paginator>
      </ng-template>
    </p-table>

    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner
        [style]="{ width: '200px', height: '200px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>
