<p-panel #pnlDetail [header]="pnlHeader" [toggleable]="true" [collapsed]="false">
  <p-listbox
    [options]="groupedPermisssions"
    [group]="true"
    [(ngModel)]="selectedPermissions"
    [metaKeySelection]="false"
    [checkbox]="true"
    [filter]="true"
    [multiple]="true"
    [listStyle]="{ 'max-height': '250px' }"
  >
    <ng-template let-group pTemplate="group">
      <div class="p-d-flex p-ai-center">
        <span>{{ group.label }}</span>
      </div>
    </ng-template>
  </p-listbox>
  <ng-template pTemplate="footer">
    <button type="submit" class="btn btn-primary" (click)="saveData()">
      {{ saveBtnName }}
    </button>
  </ng-template>

  <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
    <p-progressSpinner
      [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
      strokeWidth="2"
      animationDuration=".5s"
    ></p-progressSpinner>
  </p-blockUI>
</p-panel>
