<div class="row show-grid middle-content">
  <div class="col-md-4">
    <nb-card>
      <nb-card-header>
        <h5 style="text-align: center">Đăng nhập</h5>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" validateOnSubmit>
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label">{{
              'AbpIdentity::UserName' | abpLocalization
            }}</label>
            <div class="col-sm-9">
              <input
                formControlName="username"
                type="text"
                nbInput
                fullWidth
                id="inputEmail1"
                placeholder="{{
                  'AbpAccount::UserNameOrEmailAddress' | abpLocalization
                }}"
              />
              <app-validation-message
                [entityControl]="formControls.username"
                [validationMessages]="validationMessages.username"
              >
              </app-validation-message>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">{{
              'AbpIdentity::Password' | abpLocalization
            }}</label>
            <div class="col-sm-9">
              <input
                formControlName="password"
                type="password"
                nbInput
                fullWidth
                id="inputPassword2"
                placeholder="{{ 'AbpIdentity::Password' | abpLocalization }}"
              />
              <app-validation-message
                [entityControl]="formControls.password"
                [validationMessages]="validationMessages.password"
              >
              </app-validation-message>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <div class="checkbox">
                <nb-checkbox formControlName="rememberMe">Nhớ mật khẩu</nb-checkbox>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary">Đăng nhập</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
